<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="{{themePreference}}">
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>Name: Lilli Nappi, CWID: 20006502, Section: A</footer>
    <script src="../../public/js/client_side_validation.js"></script>
</body>
</html>