<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <footer>Made Possible by <a href="https://www.omdbapi.com/">The Open Movie Database</a></footer>
</body>
</html>